*.zip
pack.mcmeta
pack.png
data/minecraft/loot_tables/*.json
data/minecraft/loot_tables/chests/*.json
data/minecraft/loot_tables/chests/*/*.json
data/minecraft/loot_tables/gameplay/*.json
data/minecraft/loot_tables/gameplay/*/*.json
data/minecraft/loot_tables/subtables/*.json
data/minecraft/loot_tables/subtables/*/*.json
bucepack-data/relic/all.loot_table.json.yaml
