*.zip
pack.mcmeta
pack.png
data/minecraft/loot_tables/*.json
data/minecraft/loot_tables/chests/*.json
data/minecraft/loot_tables/chests/*/*.json
data/minecraft/loot_tables/gameplay/*.json
data/minecraft/loot_tables/gameplay/*/*.json
data/minecraft/loot_tables/subtables/*.json
data/minecraft/loot_tables/subtables/*/*.json
buce-data/heads/fae.loot_table.json.yaml
buce-data/heads/ancients.loot_table.json.yaml
buce-data/relic/all.loot_table.json.yaml
buce-data/mythic/chromatic/fireworks.loot_table.json.yaml
data/minecraft/loot_tables/entities/trader_llama.json
data/buce/*/
