Version {{version}}

Tested on Minecraft 1.17.1. May work on newer and/or older versions.

Changelog:

{{changes}}

See the README for a complete description: https://github.com/DMBuce/bucepack/tree/{{version}}#buces-packs

Note that the Hardcore Lichdom, Escape the End, Escape the Nether, and Escape the Grind packs haven't been updated to 1.17 yet and only work on Minecraft 1.16.

